@font-face {
    font-family: "Oswald";
    src: url("fonts/Oswald-Regular.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Oswald-light";
    src: url("fonts/Oswald-light.ttf");
    font-weight: 400;

}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Taviraj&display=swap');

h1 {
    color: blue;
    font-family: 'Roboto Slab', serif;
    

}

p {color: grey;
font-size: 24px;
font-family: 'Taviraj', serif;;
text-align: center;
text-transform: none;
line-height: normal;
font-weight: bolder;

}

img {

    width: 136px;
    height: 92px;
}

